* {
  margin: 0;
  padding: 0;
}

body {
  background: #494747;
  color: #808080;
  font-family: "Open Sans", sans-serif;
}

ul.tabs {
	margin: 10px;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	/*border-bottom: 1px solid #999;*/
	/*border-left: 1px solid #999;*/
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 10px;
	padding: 0;
	height: 50px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background-color: transparent;
    border-radius:25%
}
ul.tabs li a {
	text-decoration: none;
	color: #808080;
	display: block;
	font-size: 24px;
	padding: 0 20px;
	/*border: 1px solid #fff; Gives the bevel look with a 1px white border inside the list item*/
	outline: none;
    font-weight:600;
}
ul.tabs li a:hover {
	background: #494747;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not
        listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with
        its content--*/
}

.tab_container {
	/*border: 1px solid #999;*/
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #333131;
}
.tab_content {
	padding: 20px;
}

.formulario {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #808080;
  outline: none;
  color: white;
  font-size: 16px;
}

p{
    font-size:16px;
    margin-top:10px;
}

h2 {
  color: #6D7781;
  font-family: 'Passion One', cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  border-color: #494747;
  border:dashed;
  border-radius:100%
}

form{
  width: 600px;
  position: absolute;
  left: 50%;
  margin-left: -175px;
    margin-bottom:30px;
}

::-webkit-input-placeholder {
  color: #808080;
  font-size: 16px;
}

input[type="submit"] {
  background: #1FCE6D;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-top:20px;
}
input[type="submit"]:hover {
  background: #16aa56;
  animation-name: shake;
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}