<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILetsGo_Interface" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13999/LetsGo.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILetsGo_Interface"
                contract="svc_Cat_y_Mat.ILetsGo_Interface" name="BasicHttpBinding_ILetsGo_Interface" />
        </client>
    </system.serviceModel>
</configuration>