<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILetsGo_Interface" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13999/LetsGo.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILetsGo_Interface"
                contract="svc_Cat_Mat.ILetsGo_Interface" name="BasicHttpBinding_ILetsGo_Interface" />
        </client>
    </system.serviceModel>
</configuration>
